macro_record_screen: macro_record_screen{
compatible = "zmk,behavior-macro";
label = "macro_record_screen";
#binding-cells = <0>;
bindings = <&kp LC(LS(PRINTSCREEN))>;
};
macro_print_screen: macro_print_screen{
compatible = "zmk,behavior-macro";
label = "macro_print_screen";
#binding-cells = <0>;
bindings = <&kp LC(PRINTSCREEN)>;
};